

/* Header */
header {
    text-align: center;
    padding: 20px;
    background-color: #d871fb;
    color: #ffffff;
}

header h1 {
    font-size: 28px;
    font-family: "Merriweather Sans", serif;
    font-style: normal;
    margin: 0;
}

/* Habit form section */ 
#habit-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9d0fa;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#habit-form h2 {
    color: #ffffff;
    font-size: 22px;
    font-family: "Merriweather Sans", serif;
    font-style: normal;
    font-weight: 100;
    margin-bottom: 10px;
    text-shadow: 0.5px 0.5px 0 #000;
}

#add-habit-form input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#add-habit-form button {
    background-color: #d871fb;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#add-habit-form button:hover {
    background-color: #a366ff;
}

/* Habit list section */

#habit-list {
    max-width: 600px;
    margin: 20px auto;
}

#habit-list h2 {
    color: #d871fb;
    font-size: 22px; 
    font-family: "Merriweather Sans", serif;
    font-style: normal;
    margin-bottom: 10px;
    text-align: center;
}

#habits {
    list-style: none;
    padding: 0;
}

#habits li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 1em;
}

#habits li:last-child {
    border-bottom: none;
}

.habit-text {
    color: #333;
}

.habit-remove {
    color: #dc3545;
    cursor: pointer;
    font-size: 0.9em;
    padding: 5px;
    border: none;
    background: none;
    transition: color 0.3s ease;
}

.habit-remove:hover {
    color: #ff6666;
}

/* Days of the week table */ 

table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    overflow-x: auto;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: center;
}

th, td {
    padding: 10px;
    font-size: 14px;
}

th {
    background-color: #d871fb;
    color: white;
}