

/* Header */
header {
    text-align: center;
    padding: 20px;
    background-color: #d871fb;
    color: #ffffff;
}

header h1 {
    font-size: 28px;
    font-family: "Merriweather Sans", serif;
    font-style: normal;
    margin: 0;
}

/* Habit form section */ 
#habit-form {
    max-width: 400px;
    margin: 20px auto;
}